.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading-name {
  margin-right: 75%;
}

.nav-bar {
  font-size: 25px;
}

.side-bar {
  width: 200px;
}

.blog-category {
  font-size: 50px;
}

.blog-entry {
  font-size: 25px;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blog-feed {
  margin: auto;
}
